<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What's Going On?</title>

    <style>
        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
            font-family: Arial, sans-serif;
        }

        h1 {
            margin-top: 30px;
            text-align: center;
            font-family: 'Arial Black', sans-serif;
            font-size: 48px;
            font-weight: bold;
        }

        p {
            text-align: center;
            font-family: 'Courier New', monospace;
            font-size: 18px;
        }

        .bg-video {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 100%;
            min-height: 100%;
            width: 20px;
            height: 20px;
            z-index: -1;

            /* Disable pointer events to prevent interaction */
        }

        /* Additional styling for other elements... */
    </style>
</head>

<body>

    <video class="bg-video" autoplay muted loop>
        <source src="../../resources/img/Flying Over CU-Boulder.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <h1><b>What's Going On?</b></h1>
    <p>Here are all the events currently taking place:</p>
    <div class="container text-center">
        <div class="row align-items-start">
            {{#if events.length}}
            {{#each events}}
            <div class="col-md-4">
                <div class="hobby-card-{{@index}}">
                    <div class="card-body">
                        <h5 class="card-title">{{event_name}}</h5>
                        <p class="card-text">{{event_date}}</p>
                        <p class="card-text">{{event_location}}</p>
                        <p class="card-text">{{event_description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
            {{else}}
            <div class="col-12">
                <p>No events found. Please check back later.</p>
            </div>
            {{/if}}
        </div>
    </div>
    <a href="/map">Try out the map</a>
</body>